*{
    text-align: center;
}
html {
    font-size: 14px;
}
body{
    background-color: #F46C00;
}
hr {
    width: 25%;
}
a:any-link {
    text-decoration: none;
}
header {
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #fff;
}
header h1 {
    color: rgba(10, 197, 0, 1);
    float: left;
}
header .menu ul {
    float: right;
}
header .menu ul li {
    display: inline-block;
}
header::after {
    clear: both;
}
footer {
    border-top: 1px solid #fff;
    padding: 25px;
}
footer span {
    font-weight: bold;
    font-size: 1.5rem;
}
div#requestSection {
    width: 80%;
    margin: 25px auto;
    padding: 15px;

}
#logIn input:focus {
    background-color: #F46C00;
} 
#logIn input {
    border-radius: 5px;
} 

/* All class Style */
.bg-color {
    background-color: rgba(0, 141, 141, 0.8);
}
.rounded-border {
    border-radius: 15px;
}